<div class="card flex justify-content-center px-6 my-4">
  <p-card header="Bienvenido">
      <p class="m-0  text-2xl">
         ¡Bienvenido a nuestro portal de reservas de vuelos, tu puerta de entrada al emocionante mundo de los viajes! En este espacio diseñado pensando en ti, te ofrecemos una experiencia única para planificar tus próximas aventuras.
       </p>
     
  </p-card>
</div>

<app-carrusel></app-carrusel>

<div class=" px-6">
<p-tabView [(activeIndex)]="activeIndex">
  <p-tabPanel header="I">
      <p>
        Nos emociona tenerte aquí, listo para comenzar tu viaje con nosotros. Para aprovechar al máximo tu experiencia y desbloquear un mundo de posibilidades, te recomendamos iniciar sesión en tu cuenta personal. Esto no solo te permitirá registrar tus vuelos de manera fácil y rápida, sino que también abrirá las puertas a funciones exclusivas y beneficios adicionales.</p>
  </p-tabPanel>
  <p-tabPanel header="II">
      <p>
        ¿Cómo funciona? Es tan sencillo como contar hasta tres. Primero, introduce tus detalles de viaje, incluyendo origen, destino, fechas y preferencias. Luego, explora las diversas opciones disponibles y elige el vuelo que se ajuste a tu agenda y presupuesto. Finalmente, ¡reserva con confianza y prepárate para volar alto!</p>
  </p-tabPanel>
  <p-tabPanel header="III">
      <p>
        Con características innovadoras y herramientas de búsqueda avanzadas, estamos comprometidos en hacer que la planificación de tu viaje sea tan emocionante como el propio viaje. Ya sea que busques un escape de fin de semana, unas vacaciones familiares o un viaje de negocios, estamos aquí para hacer que cada vuelo sea una experiencia inolvidable</p>
  </p-tabPanel>
</p-tabView>
</div>
