<div class="card flex justify-content-start">
    <p-sidebar [(visible)]="sidebarVisible">
        <div class="card flex justify-content-center">
            <p-button label="Mis vuelos" [link]="true" routerLink="misvuelos" routerLinkActive="active-link"></p-button>
        </div>
        <div class="card flex justify-content-center">
            <p-button label="Sugerencias" [link]="true" routerLink="sugerencias" routerLinkActive="active-link"></p-button>
        </div>
        <div class="card flex justify-content-center">
            <p-button label="Buscar Vuelos" [link]="true" routerLink="panelfo" routerLinkActive="active-link"></p-button>
        </div>
       
    </p-sidebar>
    <p-button (click)="sidebarVisible = true" icon="pi pi-bars
    "></p-button>
</div>