<div class="">
    <p-panel header="{{ vuelo.nombre_aerolinea }} - {{vuelo.fecha_ida}}" [toggleable]="true" class="custom-panel w-full">

        <div class="card flex justify-content-around">
            <div class="flex flex-column align-items-center">
                <p class="font-bold border-round m-1">ORIGEN</p>
                <p class="max-width border-round m-1">{{ vuelo.origen?.city_name }}</p>
                <p class="max-width border-round m-1">{{ vuelo.origen?.country_name }}</p>
                <p class="font-bold border-round m-1">Aeropuerto</p>
                <p class="max-width border-round m-1">{{ vuelo.origen?.airport_name }}</p>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div class="flex flex-column align-items-center">
                <p-button icon="pi pi-send" [rounded]="true" [text]="true" severity="help" class="p-button-x"></p-button>
                <p class="font-bold border-round m-1">Precio del Vuelo</p>
                <p class="max-width border-round m-1">{{ vuelo.precio }} {{ vuelo.moneda }}</p>
                <p-button icon="pi pi-shopping-cart" [rounded]="true" severity="success"></p-button>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div class="flex flex-column align-items-center">
                <p class="font-bold border-round m-1">DESTINO</p>
                <p class="max-width border-round m-1">{{ vuelo.destino?.city_name }}</p>
                <p class="max-width border-round m-1">{{ vuelo.destino?.country_name }}</p>
                <p class="font-bold border-round m-1">Aeropuerto</p>
                <p class="max-width border-round m-1">{{ vuelo.destino?.airport_name }}</p>
            </div>
        </div>

    </p-panel>
</div>
