
<div class="card flex justify-content-center">
  
  <div class="flex flex-column  mt-4 justify-content-center" >
    <h1>Codigo de verificacion</h1>
    <span class="p-float-label">
      <input pInputText id="username" class="w-full" [(ngModel)]="value" />
      <label htmlFor="username">Codigo</label>
  </span> </div>
</div>
<div class="card flex justify-content-center">
  <p-button label="Enviar otro correo" [link]="true"></p-button>
</div>
<div class="card flex justify-content-center">
<p-button label="Secondary" [raised]="true" severity="secondary"></p-button>
</div>

