
<div class="card flex justify-content-center">
  
  <form class="flex flex-column  mt-4 justify-content-center" [formGroup]="formularioCodigo" >
      <h1>Codigo de verificacion</h1>
      <span class="p-float-label">
        <input pInputText id="number" class="w-full" formControlName="codigo" />
        <label htmlFor="number">Codigo</label>
      </span> 
      <div 
        class="ml-4 p-error"
        *ngIf="codigo.touched && codigo.invalid"
        >
        Escriba el código de 6 dígitos
      </div>
  </form>
</div>
<div class="card flex justify-content-center">
  <p-button label="Enviar otro correo" [link]="true"></p-button>
</div>
<div class="card flex justify-content-center">
<p-button label="verificar" [raised]="true" severity="secondary" [disabled]="codigo.invalid"(onClick)="enviar()"></p-button>
</div>

